# Multi variable Linear Regression
'''Based on Experience,test score and interview score predict the salaries of the Employees'''

In [139]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt
from word2number import w2n
import math

In [152]:
df=pd.read_excel(r"C:\Users\lijitha\datasets\Exp_salaries.xlsx")

# Data Cleansing
'''This is to fill the NUll values in the data so that the model can predict accurately'''

In [153]:
#Fill the NaN values in test_score with Mean of the test_score data
df['median_score']=math.floor(df['test_score(out of 10)'].mean())
df['test_score(out of 10)']=df['test_score(out of 10)'].fillna(df['median_score'])

In [157]:
#Fill zero for Null values experience column and convert it to number
df.experience=df.experience.fillna("zero")
df.experience=df.experience.apply(w2n.word_to_num)

In [158]:
#Resultant dataframe after Data cleansing
df

,experience,test_score(out of 10),interview_score(out of 10),salary($),median_score
0,0,8.0,9,50000,7
1,0,8.0,6,45000,7
2,5,6.0,7,60000,7
3,2,10.0,10,65000,7
4,7,9.0,6,70000,7
5,3,7.0,10,62000,7
6,10,7.0,7,72000,7
7,11,7.0,8,80000,7

In [114]:
#Applying the Linear Regression and traning the model with the dataset
reg=linear_model.LinearRegression()
reg.fit(df[['experience','test_score(out of 10)','interview_score(out of 10)']],df['salary($)'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [117]:
#Predicting the Salary for an employee provided the experience,test_score and interview_score
reg.predict([[4,4,6]])

array([48451.85930334])

In [163]:
#Predicting the Salary for an employee provided the experience,test_score and interview_score by reading the data from the excel file
predict_df=pd.read_excel(r'C:\Users\lijitha\datasets\data_tobe_predicted.xlsx')

In [190]:
predict_df['predicted_salaries']=reg.predict(np.c_[predict_df.experience,predict_df.test_score,predict_df.interview_score])

In [191]:
#Dataframe with the predicted salaries
predict_df

   experience  test_score  interview_score  predicted_salaries
0           3           5                6        47750.899388
1           4           6                7        55041.960069
2           6           7                8        65255.289765
3           7           2                4        48481.083016
4          23           8                9       119302.654686
5          12           9                8        87231.522054
6          14          10                9        97444.851750
7          10           5                6        68206.782493